<div class="modal fade" id="bookempmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="search" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                            <label for="chain_id">Country</label>
                            <input type="text" class="form-control" id="chain_id" name="chain_id"
                            placeholder="Country" required>
                    </div>

                    <div class="form-group">
                            <label for="hotel_id">Property ID</label>
                            <input type="text" class="form-control" id="hotel_id" name="hotel_id"
                            placeholder="Property ID" required>
                    </div>

                    <div class="form-group">
                            <label for="room_num">House Number</label>
                            <input type="text" class="form-control" id="room_num" name="room_num"
                            placeholder="House Number" required>
                    </div>

                    <div class="form-group">
                            <label for="cust_id">Email</label>
                            <input type="text" class="form-control" id="cust_id" name="cust_id"
                            placeholder="Email" required>
                    </div>

                    <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" name="status"
                            placeholder="Status" required>
                    </div>

                    <div class="form-group">
                        <label for="indate">Start Date</label>
                        <input type="date" class="form-control" id="indate" name="indate" placeholder="dd-mm-yyyy" required>
                    </div>

                    <div class="form-group">
                                <label for="outdate">End Date</label>
                                <input type="date" class="form-control" id="outdate" name="outdate"
                                    placeholder="dd-mm-yyyy" required>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" id="book_submit" name="book_submit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          'use strict';
          window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>