<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% include 'navigation.html' %}
{% include 'payment_modal.html' %}
{% include 'book_emp_modal.html' %}

<form>
    <div class="row justify-content-center">
        <div class="form-row">
            <div class="col-md-8">
                <label>Filter By Date:</label>
            </div>
            <div class="col-md-10">
                <input type="date" class="form-control" id="date" name="date" placeholder="dd-mm-yyyy" required>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit" name="dateSearch" id="dateSearch">Search</button>

            </div>
        </div>
    </div>
</form>
<br />
<br />
<!-- format taken from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-add-and-delete-row-feature -->

<script type="text/javascript">
    $(document).ready(function () {
        //var actions = $("table td:last-child").html();
        // Edit row on edit button click
        $(document).on("click", ".edit", function () {
            var r_id_txt = $(this).parents("tr").find("#r_id").text();
            $(this).parents("tr").find("#status").each(function () {
                $(this).html('<form method="POST">{% csrf_token %}<input name="rid" type="hidden" value="' + r_id_txt + '"/><input name="status" type="text" class="form-control" value="' + $(this).text() + '"/><button class="btn btn-primary" type="submit">Save</button></form>');
            });
        });
    });
</script>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-9">
                        <h2>Bookings <b>Details</b></h2>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#paymodal"><i class="fa fa-credit-card custom"></i> Pay</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-info add-new" data-toggle="modal" data-target="#bookempmodal"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Customer Email</th>
                        <th>Customer Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if mylist %}
                    {% for reservation in mylist %}
                    <tr>
                        <td id="r_id">{{reservation.reservation_id}}</td>
                        <td>{{reservation.customer_id}}</td>
                        <td>{{reservation.customer.first_name}} {{reservation.customer.last_name}}</td>
                        <td>{{reservation.from_date}}</td>
                        <td>{{reservation.to_date}}</td>
                        <td id="status">{{reservation.status}} </td>
                        <td>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>