{% include 'navigation.html' %}

<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="City">
            </div>
            
            <div class="form-group">    
                <label for="indate">Start Date</label>
                <input type="date" class="form-control" id="indate" placeholder="dd-mm-yyyy">
            </div>

            <div class="form-group">    
                    <label for="outdate">End Date</label>
                    <input type="date" class="form-control" id="outdate" placeholder="dd-mm-yyyy">
            </div>

            <div class="form-group">    
                <label for="guests">Guests</label>
                <input type="number" min=1 class="form-control" id="capacity" placeholder="1">
            </div>
        </form>
        <button class="btn btn-primary" type="submit" name="search">Search</button>
    </div>
</div>


{% include 'hotels.html' %}
